/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto Mono", monospace;
}
